body {
    margin: 0;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #1D4D72;
    color: #fff;
    text-align: center;
}

h1 {
    margin: 0;
    padding-top: 25px;
}

#color-contrast, #lastModified {
    color: #FDFB15;
}

nav {
    background-color: #333333;
    margin-top: 25px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav ul li {
    padding: 10px 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #FDFB15;
}

nav ul li a:active {
    color: lightgray;
}

main {
    max-width: 98%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card-content {
    padding: 0 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.card h2 {
    background-color: #1D4D72;
    color: #FFF;
    margin-top: 0;
    border-radius: 5px 5px 0 0;
    text-align: center;
    padding: 10px;
}

.card ul li {
    padding: 10px 15px;
}

#country{
    display: flex;
    gap: 1rem;
    margin-top: 20px;
}

#country p {
    margin: 0;
    padding: 0 20px;
}

h3 {
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    margin: 0 50px;
}

.card-content p {
    padding-right: 20px;
}

footer {
    background-color: #1D4D72;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}