@media screen and (min-width: 512px) {
    #temple-images{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    header h1 {
        margin: auto 0;
    }

    nav ul {
        flex-direction: row;
        justify-content: flex-end;
        padding: 14px;
    }

    #menu {
        display: none;
    }

    nav a {
        display: block;
    }
}

@media screen and (min-width: 900px) {
    #temple-images{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
}